[Unit]
Description=Run restic backup of %i
After=network-online.target local-fs.target

[Service]
Type=oneshot
EnvironmentFile=-%E/restic/%i.env
CacheDirectory=restic
Environment="RESTIC_CACHE_DIR=%C/restic"
Nice=19
IOSchedulingClass=idle
OOMScoreAdjust=500
SyslogIdentifier=restic-%i
ExecStart=/usr/bin/xargs -t -d '\n' -a "%E/restic/%i.arg" -- \
	/usr/bin/restic backup
